<div *ngIf="room; else loader">
  <div class="page-title">
    <h4>Назва кімнати: {{ room.name || "Error" }}</h4>
    <button
      (click)="leaveRoom()"
      class="waves-effect waves-light btn red darken-1"
    >
      Покинути кімнату
    </button>
  </div>

  <div class="users">
    <div class="user" *ngFor="let user of users" [attr.id]="user.id">
      <div class="player">
        <video autoPlay="true" playsInline="true" class="video">
          Video stream not available.
        </video>
      </div>
      <div class="user_name">{{ user.login }}</div>
      <div class="buttons">
        <span class="material-icons"> delete_outline</span>
        <span class="material-icons"> volume_up </span>
        <span class="material-icons"> volume_off </span>
      </div>
    </div>
  </div>

  <app-rooms-settings> </app-rooms-settings>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
