<form class="login" [formGroup]="form" (ngSubmit)="onSubmit()" id="login">
  <input
    formControlName="email"
    class="my_input"
    type="email"
    id="loginEmail"
    autocomplete="on"
    placeholder="Email"
    [ngClass]="{
      invalid: form.get('email')?.invalid && form.get('email')?.touched
    }"
  />
  <label for="email">Email</label>
  <span
    class="helper-text red-text"
    *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
  >
    <span *ngIf="form.get('email')?.errors?.['required']"
      >Email не повинно бути пустим</span
    >
    <span *ngIf="form.get('email')?.errors?.['email']"
      >Введіть коректний email</span
    >
  </span>
  <br />
  <input
    formControlName="password"
    class="my_input"
    type="password"
    id="loginPassword"
    autocomplete="on"
    placeholder="Пароль"
    [ngClass]="{
      invalid: form.get('password')?.invalid && form.get('password')?.touched
    }"
  />
  <span
    class="helper-text red-text"
    *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
  >
    <span *ngIf="form.get('password')?.errors?.['required']"
      >Пароль не повинен бути пустим</span
    >
  </span>
  <br />
  <button
    [disabled]="form.invalid || form.disabled"
    type="submit"
    id="loginBtn"
  >
    Логін
  </button>
</form>
