<div *ngIf="game; else loader" class="table">
  <div class="control" *ngIf="game.initiatorId === myUser?.id">
    <button (click)="finishGame()" class="waves-effect waves-light btn red">
      Завершити гру
    </button>
  </div>
  <div class="main_users">
    <div class="user" *ngFor="let user of game.users" [attr.id]="user.id">
      <div class="player">
        <video autoPlay="true" playsInline="true" class="video">
          Video stream not available.
        </video>
        <div class="user_role" *ngIf="user.id === myUser?.id">
          <img
            class="role_img"
            src="../../../../assets/secret-hitler-img/{{
              user.globalRole
            }}_role.png"
            alt=""
          />
        </div>
        <!-- <div class="user_vote">
            <img
              class="vote hiden"
              src="../../../../assets/secret-hitler-img/vote_true.png"
              alt=""
            />
            <img
              class="vote"
              src="../../../../assets/secret-hitler-img/vote_false.png"
              alt=""
            />
        </div> -->
      </div>

      <div class="user_name">
        {{ user.login }} [{{ game.users.indexOf(user) + 1 }}]
      </div>

      <div class="user_global_role">
        <span class="material-icons"> person </span>
        {{ user.gameRole === "free" ? "-" : user.gameRole }}
      </div>

      <div class="buttons">
        <button class="waves-effect waves-light btn blue" disabled>
          Обрати
        </button>
        <!-- <span class="material-icons"> delete_outline</span>
        <span class="material-icons"> volume_up </span>
        <span class="material-icons"> volume_off </span> -->
      </div>
    </div>
  </div>
  <div class="game">
    <div class="full_board_box">
      <div class="liberal_box">
        <img
          class="board"
          src="../../../../assets/secret-hitler-img/board-liberal.png"
          alt="1 liberal policies have been passed."
        />
        <div class="global_laws_box">
          <div class="liberal_col_item_1"></div>
          <div class="liberal_col_item_2">
            <div class="liberal_row_item_1"></div>
            <div class="liberal_row_item_2">
              <div class="liberal_low_box">
                <img
                  id="liberal_low_1"
                  src="../../../../assets/secret-hitler-img/board-policy-liberal.png"
                  class="liberal_low hide"
                  alt=""
                />
              </div>
              <div class="liberal_low_box">
                <img
                  id="liberal_low_2"
                  src="../../../../assets/secret-hitler-img/board-policy-liberal.png"
                  class="liberal_low hide"
                  alt=""
                />
              </div>
              <div class="liberal_low_box">
                <img
                  id="liberal_low_3"
                  src="../../../../assets/secret-hitler-img/board-policy-liberal.png"
                  class="liberal_low hide"
                  alt=""
                />
              </div>
              <div class="liberal_low_box">
                <img
                  id="liberal_low_4"
                  src="../../../../assets/secret-hitler-img/board-policy-liberal.png"
                  class="liberal_low hide"
                  alt=""
                />
              </div>
              <div class="liberal_low_box">
                <img
                  id="liberal_low_5"
                  src="../../../../assets/secret-hitler-img/board-policy-liberal.png"
                  class="liberal_low hide"
                  alt=""
                />
              </div>
            </div>
            <div class="liberal_row_item_1">
              <div class="tracker_box">
                <img
                  id="tracker_1"
                  src="../../../../assets/secret-hitler-img/counter.png"
                  class="tracker hideOpacity"
                  alt=""
                />
                <img
                  id="tracker_2"
                  src="../../../../assets/secret-hitler-img/counter.png"
                  class="tracker hideOpacity"
                  alt=""
                />
                <img
                  id="tracker_3"
                  src="../../../../assets/secret-hitler-img/counter.png"
                  class="tracker hideOpacity"
                  alt=""
                />
                <img
                  id="tracker_4"
                  src="../../../../assets/secret-hitler-img/counter.png"
                  class="tracker hideOpacity"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="liberal_col_item_1"></div>
        </div>
      </div>
      <div class="fascist_box">
        <img
          class="board"
          src="../../../../assets/secret-hitler-img/board-fascist.png"
          alt="1 liberal policies have been passed."
        />
        <div class="global_laws_box">
          <div class="fascist_col_item_1"></div>
          <div class="fascist_col_item_2">
            <div class="fascist_item_1"></div>
            <div class="fascist_item_2">
              <div class="fascist_low_box">
                <img
                  id="fascist_low_1"
                  src="../../../../assets/secret-hitler-img/board-policy-fascist.png"
                  class="fascist_low hide"
                  alt=""
                />
              </div>
              <div class="fascist_low_box">
                <img
                  id="fascist_low_2"
                  src="../../../../assets/secret-hitler-img/board-policy-fascist.png"
                  class="fascist_low hide"
                  alt=""
                />
              </div>
              <div class="fascist_low_box">
                <img
                  id="fascist_low_3"
                  src="../../../../assets/secret-hitler-img/board-policy-fascist.png"
                  class="fascist_low hide"
                  alt=""
                />
              </div>
              <div class="fascist_low_box">
                <img
                  id="fascist_low_4"
                  src="../../../../assets/secret-hitler-img/board-policy-fascist.png"
                  class="fascist_low hide"
                  alt=""
                />
              </div>
              <div class="fascist_low_box">
                <img
                  id="fascist_low_5"
                  src="../../../../assets/secret-hitler-img/board-policy-fascist.png"
                  class="fascist_low hide"
                  alt=""
                />
              </div>
              <div class="fascist_low_box">
                <img
                  id="fascist_low_6"
                  src="../../../../assets/secret-hitler-img/board-policy-fascist.png"
                  class="fascist_low hide"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="fascist_col_item_1"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<div #modal class="modal">
  <div class="modal-content">
    <h4 class="mb1">Ваша роль {{ myGameUser?.globalRole }}</h4>
    <h4 class="mb2" *ngIf="otherRedUsers.length">
      Інші червоні {{ otherRedUsers.join(", ") }}
    </h4>
  </div>
  <div class="modal-footer">
    <button class="modal-action btn waves-effect" (click)="gotAcquainted()">
      Ознайомився
    </button>
  </div>
</div>
