<div *ngIf="game; else loader" class="table">
  <div class="main_users">
    <div class="user">
      <div class="player">
        <video autoPlay="true" playsInline="true" class="video">
          Video stream not available.
        </video>
      </div>
      <div class="user_name">Login</div>
      <div class="buttons">
        <span class="material-icons"> delete_outline</span>
        <span class="material-icons"> volume_up </span>
        <span class="material-icons"> volume_off </span>
      </div>
    </div>
  </div>
  <div class="game">
    <div class="full_board_box">
      <div class="liberal_box">
        <img
          class="board"
          src="../../../../assets/secret-hitler-img/board-liberal.png"
          alt="1 liberal policies have been passed."
        />
        <div class="global_laws_box">
          <div class="liberal_col_item_1"></div>
          <div class="liberal_col_item_2">
            <div class="liberal_row_item_1"></div>
            <div class="liberal_row_item_2">
              <div class="liberal_low_box">
                <img
                  src="../../../../assets/secret-hitler-img/board-policy-liberal.png"
                  class="liberal_low"
                  alt=""
                />
              </div>
              <div class="liberal_low_box">
                <img
                  src="../../../../assets/secret-hitler-img/board-policy-liberal.png"
                  class="liberal_low"
                  alt=""
                />
              </div>
              <div class="liberal_low_box">
                <img
                  src="../../../../assets/secret-hitler-img/board-policy-liberal.png"
                  class="liberal_low"
                  alt=""
                />
              </div>
              <div class="liberal_low_box">
                <img
                  src="../../../../assets/secret-hitler-img/board-policy-liberal.png"
                  class="liberal_low"
                  alt=""
                />
              </div>
              <div class="liberal_low_box">
                <img
                  src="../../../../assets/secret-hitler-img/board-policy-liberal.png"
                  class="liberal_low"
                  alt=""
                />
              </div>
            </div>
            <div class="liberal_row_item_1">
              <div class="tracker_box">
                <img
                  src="../../../../assets/secret-hitler-img/counter.png"
                  class="tracker"
                  alt=""
                />
                <img
                  src="../../../../assets/secret-hitler-img/counter.png"
                  class="tracker"
                  alt=""
                />
                <img
                  src="../../../../assets/secret-hitler-img/counter.png"
                  class="tracker"
                  alt=""
                />
                <img
                  src="../../../../assets/secret-hitler-img/counter.png"
                  class="tracker"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="liberal_col_item_1"></div>
        </div>
      </div>
      <div class="fascist_box">
        <img
          class="board"
          src="../../../../assets/secret-hitler-img/board-fascist.png"
          alt="1 liberal policies have been passed."
        />
        <div class="global_laws_box">
          <div class="fascist_col_item_1"></div>
          <div class="fascist_col_item_2">
            <div class="fascist_item_1"></div>
            <div class="fascist_item_2">
              <div class="fascist_low_box">
                <img
                  src="../../../../assets/secret-hitler-img/board-policy-fascist.png"
                  class="fascist_low"
                  alt=""
                />
              </div>
              <div class="fascist_low_box">
                <img
                  src="../../../../assets/secret-hitler-img/board-policy-fascist.png"
                  class="fascist_low"
                  alt=""
                />
              </div>
              <div class="fascist_low_box">
                <img
                  src="../../../../assets/secret-hitler-img/board-policy-fascist.png"
                  class="fascist_low"
                  alt=""
                />
              </div>
              <div class="fascist_low_box">
                <img
                  src="../../../../assets/secret-hitler-img/board-policy-fascist.png"
                  class="fascist_low"
                  alt=""
                />
              </div>
              <div class="fascist_low_box">
                <img
                  src="../../../../assets/secret-hitler-img/board-policy-fascist.png"
                  class="fascist_low"
                  alt=""
                />
              </div>
              <div class="fascist_low_box">
                <img
                  src="../../../../assets/secret-hitler-img/board-policy-fascist.png"
                  class="fascist_low"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="fascist_col_item_1"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
