<div class="page-title">
  <h4>
    <a routerLink="/rooms">Rooms</a>
    <i class="material-icons">keyboard_arrow_right</i>
    {{ isNew ? "Add" : "Edit " }} room
  </h4>
  <span>
    <button *ngIf="!isNew" class="btn btn-small red" (click)="deleteRoom()">
      <i class="material-icons">delete</i>
    </button>
  </span>
</div>

<div class="row">
  <form class="col s12 l6" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-field">
      <input
        formControlName="name"
        id="name"
        type="text"
        [ngClass]="{
          invalid: form.get('name')!.invalid && form.get('name')!.touched
        }"
      />
      <label for="name">Name</label>
      <span class="helper-text red-text" *ngIf="form.get('name')!.invalid && form.get('name')!.touched">
        <span *ngIf="form.get('name')!.errors!['required']">
          Not be empty.
        </span>
      </span>
    </div>

    <div>
      <button
        type="submit"
        [disabled]="form.invalid || form.disabled"
        class="waves-effect waves-light btn"
      >
        Save
      </button>
    </div>
  </form>
</div>
