<div class="page-title">
  <h4>Rooms</h4>
  <button
    class="waves-effect waves-light btn grey darken-1"
    routerLink="/rooms/new"
  >
    Add room
  </button>
</div>

<div class="row" *ngIf="roomList$ | async as roomList; else loader">
  <div class="col s12">
    <div class="collection" *ngIf="roomList.length !== 0; else empty">
      <a *ngFor="let roomName of roomList" 
      [routerLink]="['/rooms', roomName.id]" 
      class="collection-item">
        {{ roomName.name }}</a
      >
    </div>
    <ng-template #empty>
      <div class="center">Rooom center empty</div>
    </ng-template>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
