<div class="page-title">
  <h4>Кімнати</h4>
  <button
    class="waves-effect waves-light btn salet darken-1"
    routerLink="/rooms/new"
    [disabled]="user?.currentRoom"
  >
    Створити кімнату
  </button>
</div>

<div class="row" *ngIf="roomList$ | async as roomList; else loader">
  <div class="col s12">
    <div class="collection" *ngIf="roomList.length !== 0; else empty">
      <div *ngFor="let room of roomList" class="collection-item room">
        <span class="col s4"> {{ room.name }}</span>

        <span class="col s4"> Гравців {{ room.users.length }}</span>
        <form
          class="input-room-password s4"
          [formGroup]="form"
          (ngSubmit)="onSubmit(room)"
        >
          <input
            formControlName="password"
            placeholder="Password"
            type="text"
            *ngIf="room.password"
          />
          <button
            class="btn btn-small blue"
            type="submit"
            [disabled]="
              form.invalid || form.disabled || (user?.currentRoom && user?.currentRoom?.id !== room.id)
            "
          >
            <i class="material-icons">
              {{
                user?.currentRoom?.id === room.id
                  ? "Повернутися"
                  : "Увійти"
              }}</i
            >
          </button>
        </form>
      </div>
    </div>
    <ng-template #empty>
      <div class="center">Кімнат немає</div>
    </ng-template>
  </div>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
