<div class="page-title">
  <h4>Кімнати</h4>
  <button
    class="waves-effect waves-light btn grey darken-1"
    routerLink="/rooms/new"
  >
    Створити кімнату
  </button>
</div>

<div class="row" *ngIf="roomList$ | async as roomList; else loader">
  <div class="col s12">
    <div class="collection" *ngIf="roomList.length !== 0; else empty">
      <div *ngFor="let roomName of roomList" class="collection-item dflex ">
        <a class="col s9"> {{ roomName.name }}</a>
        <button
          class="btn btn-small blue"
          [routerLink]="['/rooms', roomName.id]"
        >
          <i class="material-icons">Приєднатися</i>
        </button>
      </div>
    </div>
    <ng-template #empty>
      <div class="center">Кімнат немає</div>
    </ng-template>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
