* {
  font-family: "segoe ui";
}
nav {
  margin: 0 auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 40px;
}

li a {
  display: block;
  width: 60px;
  text-decoration: none;
  font-family: "segoe ui";
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #1f1f1f;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
}

.auth-block {
  margin: 0 auto;
  width: 35%;
  min-width: 300px;
  margin-top: 15%;
}
